<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /world/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /biblioteksida/php/user/index.php [L]
</IfModule>