 <!DOCTYPE html>
<html>
    <head>
        <!-- BOOTSTRAP CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
        <!-- INDEX CSS -->
        <link rel="stylesheet" href="templates/indexstyling.css">
        
        <!-- JQUERY CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        
        <!-- JAVASCRIPT COMPILER CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <title>Page Title</title>
    </head>
    <body>
        <h1>Find and Loan Books</h1>
        <nav class="pull-left">
            <button>Topics</button>
            <button>Genres</button>
            <form>
                <input class="NavButton" type="text" name="search" value="">
            </form>
        </nav>
        {% for Name in names %}
		* {{ Name.Name }} <br/>
        {% else %}
        Search returned nothing
        {% endfor %}
    </body>
</html> 