{% include 'header.html' %}

{% include 'navbar.html' %}

<div class="container">
    <table class="table">
        <th>
            Title
        </th>

        <th>
            ISBN-10
        </th>

        <tr>
            {% for book in allbooks %}
                <td> 
                    {{ book.title }} 
                </td>
                
                <td> 
                    {{ book.isbn10 }} 
                </td>
            {% else %}
                <p>
                    Fail :|
                </p>
            {% endfor %}
        </tr>
    </table>
</div>

{% include 'footer.html' %}