<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Library
            </a>
        </div>

        <div class="collapse navbar-collapse">
            <form class="nav navbar-form navbar-center" method="post">
            	<div class="form-group">
	                <input type="text" name="searchquery"/>
	                <input type="submit" value="Sök"/>
	        	</div>
            </form>

            <ul class="nav navbar-nav navbar-right">
            	<li>
            		<a href="#">
            			My pages
            		</a>
            	</li>

            	<li>
            		<a href="#">
            			Settings
            		</a>
            	</li>
            </ul>
        </div>
    </div>
</nav>