{% include 'header.html' %}

{% include 'navbar.html' %}

<div class="container" style="width: 75%">
    <p>Skriv in ditt personnummer för att se böcker som du lånar (ÅÅMMDDXXXX</p>
    <form style="margin-top:10px" method="post">
        <input placeholder="SSN" name="ssn"></input>
        <button type="Submit">Submit</button>
    </form>
    <table class="table">
        <th>SSN</th>

        <th>Isbn</th>

        <th>Date</th>

        {% for item in history %}
            <tr>
                <td> 
                    {{ item.social_security_number }} 
                </td>

                <td>
                    {{item.isbn10}}
                    {{item.isbn13}}
                </td>

                <td>
                    {{ item.date }}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

{% include 'footer.html' %}